<nz-breadcrumb>
    <nz-breadcrumb-item>
        <a routerLink="/welcome">
            <nz-icon nzType="home" />
        </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a routerLink="/itinerario">
            <nz-icon nzType="bars" />
            <span>Actvidades Pendientes</span>
        </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Historial</nz-breadcrumb-item>
</nz-breadcrumb>
<hr class="divider">
<div class="header-grid">
    <div class="header-item">
        <a routerLink="/itinerario-form" class="link">Registrar nueva actividad</a>
    </div>
    <div class="header-item">
        <a routerLink="/itinerario" class="link">Pendientes</a>
    </div>
</div>
<div class="filters">
    <nz-select [formControl]="selectedArea" nzPlaceHolder="Filtrar por área">
        <nz-option *ngFor="let area of areas" [nzValue]="area" [nzLabel]="area"></nz-option>
    </nz-select>

    <nz-select [formControl]="selectedEstado" nzPlaceHolder="Filtrar por estado">
        <nz-option *ngFor="let estado of estados" [nzValue]="estado" [nzLabel]="estado"></nz-option>
    </nz-select>

    <nz-range-picker [formControl]="selectedDate"></nz-range-picker>

    <button nz-button nzType="default" (click)="showAllAreas()">Mostrar todas</button>
</div>

<!-- Tabla con scroll horizontal -->
<div class="table-container">
    <nz-table class="itinerario-table" #itinerarioTable nzBordered nzShowPagination nzShowSizeChanger 
        [nzData]="filteredItinerarios" nzTableLayout="fixed">
        <thead>
            <tr>
                <th nzWidth="6%">Área</th>
                <th nzWidth="6%">Estado</th>
                <th nzWidth="7%">Juzgado</th>
                <th nzWidth="5%">Piso</th>
                <th nzWidth="9%">Trámite</th>
                <th nzWidth="9%">Solicitante</th>
                <th nzWidth="7%">Fecha de Solicitud</th>
                <th nzWidth="7%">Fecha de Término</th>
                <th nzWidth="8%">Observaciones</th>
                <th nzWidth="5%">Imagen</th>
                <th nzWidth="5%">PDF</th>
                <th nzWidth="7%">Fecha Completado</th>
                <th nzWidth="7%">Completado Por</th>
                <th nzWidth="6%">Hora Completado</th>
                <th nzWidth="8%">Obs. Completado</th>
                <th nzWidth="7%">Imagen Completado</th>
                <th nzWidth="6%">Acciones</th>
            </tr>
        </thead>
        <tbody *ngIf="itinerarios.length > 0">
            <tr *ngFor="let item of filteredItinerarios; trackBy: trackById">
                <!-- Modo lectura -->
                <td *ngIf="!editCache[item.id]?.edit">{{ item.area }}</td>
                <td *ngIf="!editCache[item.id]?.edit">
                    <nz-tag [nzColor]="getEstadoColor(item.estado)">
                        {{ getEstadoTexto(item.estado) }}
                    </nz-tag>
                </td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.juzgado }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.piso }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.tramite }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.solicita }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.fechaSolicitud }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.fechaTermino }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.observaciones }}</td>
                <!-- Columna de la Imagen -->
                <td *ngIf="!editCache[item.id]?.edit">
                    <ng-container *ngIf="item.imagen; else noImage">
                        <a [href]="item.imagen" target="_blank">
                            <img [src]="item.imagen" alt="Imagen" width="60" style="cursor: pointer;">
                        </a>
                    </ng-container>
                    <ng-template #noImage>
                        N/A
                    </ng-template>
                </td>
                <!-- Columna del PDF -->
                <td *ngIf="!editCache[item.id]?.edit">
                    <ng-container *ngIf="item.pdf; else noPDF">
                        <a [href]="item.pdf" download="documento.pdf" target="_blank">
                            Descargar PDF
                        </a>
                    </ng-container>
                    <ng-template #noPDF>
                        N/A
                    </ng-template>
                </td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.fechaCompletado }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.completPor }}</td>
                <td *ngIf="!editCache[item.id]?.edit">{{ item.horaCompletado }}</td>
                <td *ngIf="!editCache[item.id]?.edit">
                    <!-- Mostrar obsCompletado si existe -->
                    <span *ngIf="item.obsCompletado">
                        {{ item.obsCompletado }}
                    </span>

                    <!-- Mostrar la última observación del historial si no hay obsCompletado -->
                    <span *ngIf="!item.obsCompletado && item.historial && item.historial.length > 0">
                        {{ item.historial[item.historial.length - 1].observacion }}
                    </span>

                    <!-- Mostrar el botón solo si hay historial -->
                    <button nz-button nzType="link" style="color: #bf8220"  (click)="verHistorial(item)"
                        *ngIf="item.historial && item.historial.length > 0">
                        Ver Historial
                    </button>
                </td>
                <td *ngIf="!editCache[item.id]?.edit">
                    <ng-container *ngIf="item.imgcompletado; else noImage">
                        <a [href]="item.imgcompletado" target="_blank">
                            <img [src]="item.imgcompletado" alt="Imagen" width="100" style="cursor: pointer;">
                        </a>
                    </ng-container>
                    <ng-template #noImage>
                        N/A
                    </ng-template>
                </td>

                <!-- Modo edición -->
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input
                        [(ngModel)]="editCache[item.id].data.area" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input
                        [(ngModel)]="editCache[item.id].data.estado" disabled /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input
                        [(ngModel)]="editCache[item.id].data.juzgado" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input
                        [(ngModel)]="editCache[item.id].data.piso" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input
                        [(ngModel)]="editCache[item.id].data.tramite" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input
                        [(ngModel)]="editCache[item.id].data.solicita" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="date" nz-input
                        [(ngModel)]="editCache[item.id].data.fechaSolicitud" disabled /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="date" nz-input
                        [(ngModel)]="editCache[item.id].data.fechaTermino" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input
                        [(ngModel)]="editCache[item.id].data.observaciones" /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input
                        [(ngModel)]="editCache[item.id].data.imagen" disabled /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input
                        [(ngModel)]="editCache[item.id].data.pdf" disabled /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="date" nz-input
                        [(ngModel)]="editCache[item.id].data.fechaCompletado" disabled /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input
                        [(ngModel)]="editCache[item.id].data.completPor" disabled /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="time" nz-input
                        [(ngModel)]="editCache[item.id].data.horaCompletado" disabled /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input
                        [(ngModel)]="editCache[item.id].data.obsCompletado" disabled /></td>
                <td *ngIf="editCache[item.id]?.edit"><input type="text" nz-input
                        [(ngModel)]="editCache[item.id].data.imgcompletado" disabled /></td>

                <!-- Acciones -->
                <td>
                    <ng-container *ngIf="!editCache[item.id]?.edit">
                        <!-- Confirmación de eliminación -->
                        <button nz-button nzType="link" nzDanger nz-popconfirm
                            nzPopconfirmTitle="¿Seguro que quieres eliminar?" (nzOnConfirm)="eliminar(item.id)"><nz-icon
                                [nzType]="'delete'"></nz-icon>
                        </button>
                        <button nz-button nzType="link" nzInfo (click)="startEdit(item.id)"><nz-icon
                                [nzType]="'edit'"></nz-icon>Etitar
                        </button>
                    </ng-container>
                    <ng-container *ngIf="editCache[item.id]?.edit">
                        <button nz-button nzType="link" (click)="saveEdit(item.id)"><nz-icon
                                [nzType]="'check'"></nz-icon></button>
                        <button nz-button nzType="link" nzDanger nz-popconfirm
                            nzPopconfirmTitle="¿Seguro que quieres cancelar?"
                            (nzOnConfirm)="cancelEdit(item.id)"><nz-icon [nzType]="'close'"></nz-icon></button>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>

<!-- Modal de Historial -->
<nz-modal [(nzVisible)]="isHistorialVisible" nzTitle="Historial de Observaciones" (nzOnCancel)="cerrarHistorial()"
    [nzFooter]="null">
    <ng-container *nzModalContent>
        <nz-list>
            <nz-list-item *ngFor="let entrada of historialActual">
                <strong *ngIf="entrada.nombre || entrada.email">
                    User: {{ entrada.nombre || entrada.email || entrada.uid }}
                </strong>
                <p>{{ entrada.observacion }}</p>
                <p>{{ entrada.fecha }} {{ entrada.hora }}</p>
            </nz-list-item>
        </nz-list>
    </ng-container>
</nz-modal>