<nz-breadcrumb>
    <nz-breadcrumb-item>
        <a routerLink="/welcome">
            <nz-icon nzType="home" />
        </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Actvidades Pendientes</nz-breadcrumb-item>
</nz-breadcrumb>
<hr class="divider">
<div class="header-grid">
    <div class="header-item">
        <a routerLink="/itinerario-form" class="link">Registrar nueva actividad</a>
    </div>
    <div class="header-item">
        <a routerLink="/history-itinerario" class="link">Historial de Itinerario</a>
    </div>
</div>
<div class="notification-container">
    <!-- Botón de notificaciones -->
    <div class="notification-container">
        <button nz-button (click)="mostrarNotificaciones = !mostrarNotificaciones">
            <i nz-icon nzType="bell"></i>
            <span *ngIf="notificaciones.length > 0" class="notification-badge">{{ notificaciones.length }}</span>
        </button>
    </div>

    <!-- Menu de notificaciones -->
    <div *ngIf="mostrarNotificaciones" class="notification-menu">
        <h4>Notificaciones</h4>
        <hr>
        <ul>
            <li *ngFor="let notificacion of notificaciones">
                <div class="notification-item">
                    <strong>{{ notificacion.area }}</strong>
                    <strong>{{ notificacion.tramite }}</strong>
                    <p>Fecha de término: {{ notificacion.fechaTermino }}</p>
                </div>
            </li>
            <li *ngIf="notificaciones.length === 0">No hay notificaciones.</li>
        </ul>
    </div>
</div>
<hr class="divider">
<div>
    <div class="filters">
        <!-- Filtros existentes -->
        <nz-select [formControl]="selectedArea" (ngModelChange)="filterItinerarios()"
            nzPlaceHolder="Filtrar por área ofi">
            <nz-option *ngFor="let area of areas" [nzValue]="area" [nzLabel]="area"></nz-option>
        </nz-select>

        <nz-select [formControl]="selectedEstado" nzPlaceHolder="Filtrar por estado">
            <nz-option *ngFor="let estado of estados" [nzValue]="estado" [nzLabel]="estado"></nz-option>
        </nz-select>

        <nz-range-picker [formControl]="selectedDate" (ngModelChange)="filterItinerarios()"></nz-range-picker>

        <button nz-button nzType="default" (click)="showAllAreas()">Mostrar todas</button>

        <button nz-button class="download-button" (click)="descargarRegistrosPDF()">
            <i nz-icon nzType="download"></i> Descargar Registros (PDF)
        </button>

        <button nz-button  (click)="irASeccion()">Ruta de Actividades</button>
    </div>

    <nz-input-group [nzSuffix]="suffixIconSearch">
        <input nz-input placeholder="Buscar..." [(ngModel)]="searchTerm" (input)="onSearch()" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
    </ng-template>
    <hr class="divider">

    <div class="table-container">
        <nz-table 
            id="tabla-itinerarios" 
            class="itinerario-table" 
            #rowSelectionTable 
            nzBordered 
            [nzFrontPagination]="false"
            [nzShowPagination]="false" 
            [nzData]="filteredItinerarios" 
            [nzLoading]="loading"
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" 
            [nzScroll]="{ y: '450px' }" >
        <thead>
            <tr >
                <th nzWidth="80px">Estado</th>
                <th nzWidth="150px">Área Oficina</th>
                <th nzWidth="140px">Trámite</th>
                <th nzWidth="80px">Unidad</th>
                <th nzWidth="100px">Piso y Juez</th>
                <th nzWidth="auto">Área</th>
                <th nzWidth="auto">Diligencia</th>
                <th nzWidth="auto">Recibe</th>
                <th nzWidth="150px">Fechas</th>
                <th nzWidth="150px">Observaciones</th>
                <th nzWidth="auto">Adjuntos</th>
                <th nzWidth="100px">Fecha y Hora Completado</th>
                <th nzWidth="100px">Obs. Completado</th>
                <th nzWidth="130px">Acciones</th>
            </tr>
        </thead>
        <tbody *ngIf="rowSelectionTable.data && rowSelectionTable.data.length > 0; else emptyTable">
            @for (item of rowSelectionTable.data; track item.id) {
                <tr>
                    <td >
                        <nz-tag [nzColor]="getEstadoColor(item.estado)">
                            {{ getEstadoTexto(item.estado) }}
                        </nz-tag>
                    </td>
                    <td >
                        <strong>Área: </strong> {{ item.manualArea || item.area }}
                        <br>
                        <strong>Solicita: </strong> {{ item.creadoPor }}
                    </td>
                    <td>
                        <strong>Actividad: </strong> {{ item.tramite }}
                        <br>
                        <ng-container *ngIf="item && item.nroProceso">
                            <strong>N° Juicio: </strong> {{ item.nroProceso }}
                        </ng-container>
                    </td>
                    <td>{{ item.manualJuzgado || item.juzgado }}</td>
                    <td>
                        <ng-container *ngIf="item.piso || item.juez">
                            <strong>Piso: </strong> {{ item.manualPiso || item.piso }}
                            <br>
                            <strong>Juez: </strong> {{ item.juez }}
                        </ng-container>
                    </td>
                    <td>{{ item.manualMateria || item.materia }}</td>
                    <td>{{ item.manualDiligencia || item.diligencia }}</td>
                    <td>{{ item.solicita }}</td>
                    <td>
                        <ng-container *ngIf="item.fechaSolicitud || item.fechaTermino">
                            <strong>Solicitud: </strong> {{ item.fechaSolicitud }}
                            <br>
                            <strong>Hora: </strong> {{ item.horaSolicitud }}
                            <br>
                            <strong>Término: </strong> <span style="color: brown;">{{ item.fechaTermino }}</span>
                        </ng-container>
                    </td>
                    <td>{{ item.observaciones }}</td>
                    <td>
                        <ng-container *ngIf="item.imagen || item.pdf; else noData">
                            <a *ngIf="item.imagen" [href]="item.imagen" target="_blank">
                                <img [src]="item.imagen" alt="Imagen" width="60" style="cursor: pointer;">
                            </a>
        
                            <a *ngIf="item.pdf" [href]="item.pdf" download="documento.pdf" target="_blank"
                                style="color: rgb(190, 31, 31);">
                                <i nz-icon nzType="download"></i> Descargar PDF
                            </a>
                        </ng-container>
        
                        <ng-template #noData>
                            N/A
                        </ng-template>
                    </td>
                    <td>
                        <span *ngIf="item.historial && item.historial.length > 0">
                            {{ item.historial[item.historial.length - 1].fecha }}
                            {{ item.historial[item.historial.length - 1].hora }}
                        </span>
                    </td>
                    <td>
                        <span *ngIf="item.historial && item.historial.length > 0">
                            {{ item.historial[item.historial.length - 1].observacion }}
                        </span>
        
                        <button nz-button nzType="link" style="color: #bf8220" (click)="verHistorial(item)"
                            *ngIf="item.historial && item.historial.length > 0">
                            Ver Historial
                        </button>
                    </td>
                    <td>
                        <ng-container class="action-buttons">
                            <button nz-button class="btn-completado" (click)="completarItem(item)">
                                <i nz-icon nzType="check"></i> Completado
                            </button>
        
                            <button nz-button class="btn-proceso" (click)="enProcesoItem(item)">
                                <i nz-icon nzType="hourglass"></i> En Proceso
                            </button>
                        </ng-container>
                    </td>
                </tr>
            }
        </tbody>
        

        <!-- Template para cuando no hay datos -->
        <ng-template #emptyTable>
            <tbody></tbody>
        </ng-template>
    </nz-table>
    </div>
</div>

<!-- Modal Completado -->

<nz-modal [(nzVisible)]="isVisible" nzTitle="Detalles de Finalización" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()" [nzWidth]="'600px'">
    <ng-container *nzModalContent>
        <form nz-form>
            <!-- Observaciones -->
            <nz-form-item>
                <nz-form-label nzFor="observaciones">Observaciones</nz-form-label>
                <nz-form-control>
                    <textarea nz-input [(ngModel)]="selectedItem.obsCompletado" (input)="validarFormulario()"
                        id="observaciones" name="observaciones" placeholder="Ingrese observaciones" rows="4"
                        style="width: 100%;"></textarea>
                </nz-form-control>
            </nz-form-item>

            <!-- Fotografía -->
            <nz-form-item>
                <nz-form-label nzFor="fotografia">Fotografía</nz-form-label>
                <nz-form-control>
                    <input 
                        type="file" 
                        accept="image/*" 
                        capture="environment" 
                        (change)="onFileSelected($event)" 
                        #fileInput 
                        style="display: none;"
                    />
                    <button nz-button (click)="fileInput.click()">
                        <i nz-icon nzType="upload"></i> Subir Imagen
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>

    <!-- Footer -->
    <ng-template #modalFooter>
        <button nz-button nzDanger="true" (click)="handleCancel()">
            <i nz-icon nzType="close"></i> Cancelar
        </button>
        <button nz-button nzType="primary" (click)="guardarEstado()" [nzLoading]="isConfirmLoading"
            [disabled]="!formularioValido">
            <i nz-icon nzType="save"></i> Guardar
        </button>
    </ng-template>
</nz-modal>


<!-- Modal para EN PROCESO -->
<nz-modal [(nzVisible)]="isEnProcesoVisible" nzTitle="Agrega Observaciones del Proceso"
    [nzFooter]="modalFooterEnProceso" (nzOnCancel)="handleCancelEnProceso()">
    <ng-container *nzModalContent>
        <form nz-form>
            <nz-form-item>
                <nz-form-label nzFor="observaciones">Observaciones</nz-form-label>
                <nz-form-control>
                    <ng-container *ngIf="selectedItem">
                        <textarea nz-input [(ngModel)]="selectedItem.obsEnProceso"
                            (input)="validarFormularioEnProceso()" id="observaciones" name="observaciones"
                            placeholder="Ingrese observaciones" rows="4"></textarea>
                    </ng-container>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>

    <ng-template #modalFooterEnProceso>
        <button nz-button nzDanger="true" (click)="handleCancelEnProceso()">
            <i nz-icon nzType="close"></i> Cancelar
        </button>
        <button nz-button nzType="primary" (click)="guardarEstadoEnProceso()" [nzLoading]="isConfirmLoading">
            <i nz-icon nzType="save"></i> Guardar
        </button>
    </ng-template>
</nz-modal>

<!-- Modal de Historial -->
<nz-modal [(nzVisible)]="isHistorialVisible" nzTitle="Historial de Observaciones" (nzOnCancel)="cerrarHistorial()"
    [nzFooter]="null">
    <ng-container *nzModalContent>
        <nz-list>
            <nz-list-item *ngFor="let entrada of historialActual">
                <strong *ngIf="entrada.nombre || entrada.email">
                    User: {{ entrada.nombre || entrada.email || entrada.uid }}
                </strong>
                <p>{{ entrada.observacion }}</p>
                <p>{{ entrada.fecha }} {{ entrada.hora }}</p>
            </nz-list-item>
        </nz-list>
    </ng-container>
</nz-modal>

<div #rutaActividades style="background-color: #f8f9fa; border-radius: 5px;">
    <br>
    <br>
    <div class="gestion-rutas-container">
        <h3 class="gestion-title">Ruta diaria de Actividades</h3>

        <div class="input-group actividad-input">
            <input [(ngModel)]="nuevaActividad" type="text" placeholder="Escribe una actividad" class="form-control">
            <button (click)="agregarActividadTemporal()" class="btn btn-primary" aria-label="Agregar actividad">
                <nz-icon nzType="plus"></nz-icon> Agregar
            </button>
        </div>

        <ul class="list-group mt-3" *ngIf="actividadesTemporales.length > 0">
            <li *ngFor="let act of actividadesTemporales; let i = index"
                class="list-group-item d-flex justify-content-between align-items-center actividad-item">

                <!-- Mostrar texto de la actividad o campo de edición -->
                <div *ngIf="editIndex !== i" class="actividad-text">
                    {{ act }}
                </div>
                <input *ngIf="editIndex === i" [(ngModel)]="editActividad" class="form-control actividad-edit" />

                <!-- Botones de acciones -->
                <div class="actividad-actions">
                    <!-- Botón de editar -->
                    <button (click)="editarActividad(i)" *ngIf="editIndex !== i" class="btn btn-warning btn-sm"
                        aria-label="Editar actividad">
                        <nz-icon nzType="edit"></nz-icon>
                    </button>

                    <!-- Botón de guardar edición -->
                    <button (click)="guardarEdicion(i)" *ngIf="editIndex === i" class="btn btn-success btn-sm"
                        aria-label="Guardar cambios">
                        <nz-icon nzType="check"></nz-icon>
                    </button>

                    <!-- Botón de mover arriba -->
                    <button (click)="moverArriba(i)" [disabled]="i === 0" class="btn btn-secondary btn-sm"
                        aria-label="Mover actividad arriba">
                        <nz-icon nzType="arrow-up"></nz-icon>
                    </button>

                    <!-- Botón de mover abajo -->
                    <button (click)="moverAbajo(i)" [disabled]="i === actividadesTemporales.length - 1"
                        class="btn btn-secondary btn-sm" aria-label="Mover actividad abajo">
                        <nz-icon nzType="arrow-down"></nz-icon>
                    </button>

                    <!-- Botón de eliminar -->
                    <button (click)="eliminarActividadTemporal(i)" class="btn btn-danger btn-sm"
                        aria-label="Eliminar actividad">
                        <nz-icon nzType="delete"></nz-icon>
                    </button>
                </div>
            </li>
        </ul>

        <!-- Botón para guardar todas las actividades -->
        <div class="actividad-input"
            style="display: flex; justify-content: center; align-items: center; margin: 20px 0 0 0;">
            <button (click)="guardarTodasLasActividades()" nzBlock aria-label="Guardar todas las actividades"
                [disabled]="actividadesTemporales.length === 0" style="font-size: 15px;">
                <nz-icon nzType="save"></nz-icon> Guardar todas las actividades
            </button>
        </div>
    </div>

    <hr class="divider">

    <br>

    <nz-row style="display: flex; justify-content: space-evenly;">
        <h3 class="gestion-title">Actividades Guardadas</h3>
        <!-- Botón "Ver todos" o "Ver menos" -->
        <div class="actividad-input">
            <button nz-button nzType="primary" nzShape="round" (click)="toggleMostrarTodos()">
                {{ mostrarTodos ? 'Ver menos' : 'Ver todos' }}
            </button>
        </div>
    </nz-row>
    <hr class="divider">

    <nz-row *ngIf="actividadesGuardadas.length > 0" [nzGutter]="16" class="actividad-container">
        <nz-col *ngFor="let actividad of getActividadesAMostrar(); let i = index" [nzXs]="24" [nzSm]="24" [nzMd]="12"
            [nzLg]="6" [nzXl]="6" class="actividad-col">
            <nz-card [nzBordered]="true" class="actividad-card">
                <span style="display: flex; justify-content: flex-end;">
                    <button nzSize="small" nz-popconfirm nzPopconfirmTitle="¿Seguro que quieres eliminar?" (nzOnConfirm)="eliminarActividadGuardada(i)"  class="delete-btn">
                        <nz-icon nz-icon nzType="delete"></nz-icon>
                    </button>
                </span>
                <div class="card-content">
                    <p><strong>Fecha:</strong> {{ actividad.fecha | date: 'medium' }}</p>
                    <hr>
                    <p><strong>Lugares:</strong></p>
                    <ul>
                        <li *ngFor="let lugar of actividad.lugar">{{ lugar }}</li>
                    </ul>
                </div>
            </nz-card>
        </nz-col>
    </nz-row>

    <!-- Mensaje si no hay actividades guardadas -->
    <div *ngIf="actividadesGuardadas.length === 0" class="alert alert-info mt-3">
        No hay actividades guardadas.
    </div>
</div>



<!-- <div class="gestion-rutas-container">
    <h3 class="gestion-title">Actividades Guardadas</h3>

    
    <ul class="list-group mt-3" *ngIf="actividadesGuardadas.length > 0">
        <li *ngFor="let actividad of actividadesGuardadas; let i = index"
            class="list-group-item d-flex justify-content-between align-items-center actividad-item">

            
            <div class="actividad-text">
                <p><strong>Fecha:</strong> {{ actividad.fecha | date: 'medium' }}</p>
                <p><strong>Lugares:</strong></p>
                <ul>
                    <li *ngFor="let lugar of actividad.lugar">{{ lugar }}</li>
                </ul>
            </div>

            
            <div class="actividad-actions">
                <button (click)="eliminarActividadGuardada(i)" class="btn btn-danger btn-sm"
                    aria-label="Eliminar actividad">
                    <nz-icon nzType="delete"></nz-icon>
                </button>
            </div>
        </li>
    </ul>

    
    <div *ngIf="actividadesGuardadas.length === 0" class="alert alert-info mt-3">
        No hay actividades guardadas.
    </div>
</div> -->