<div class="header-grid">
    <div class="header-item">
        <a routerLink="/itinerario-form" class="link">Registrar nueva actividad</a>
    </div>
    <div class="header-item">
        <a routerLink="/history-itinerario" class="link">Historial de Itinerario</a>
    </div>
</div>
<div>
    <div class="filters">
        <nz-select [formControl]="selectedArea" (ngModelChange)="filterItinerarios()" nzPlaceHolder="Filtrar por área">
            <nz-option *ngFor="let area of areas" [nzValue]="area" [nzLabel]="area"></nz-option>
        </nz-select>
        <nz-range-picker [formControl]="selectedDate" (ngModelChange)="filterItinerarios()"></nz-range-picker>
        <button nz-button nzType="default" (click)="showAllAreas()">Mostrar todas</button>
    </div>
    <nz-table class="itinerario-table" #rowSelectionTable nzBordered nzShowPagination nzShowSizeChanger
        [nzData]="filteredItinerarios" [nzLoading]="loading"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
        <thead>
            <tr>
                <th nzWidth="6%">Estado</th>
                <th nzWidth="12%">Área</th>
                <th nzWidth="6%">Juzgado</th>
                <th nzWidth="8%">Piso</th>
                <th nzWidth="15%">Trámite</th>
                <th nzWidth="12%">Solicitante</th>
                <th nzWidth="13%">Fecha de Solicitud</th>
                <th nzWidth="13%">Fecha de Término</th>
                <th nzWidth="10%">Observaciones</th>
                <th nzWidth="10%">Documentos</th>
                <th nzWidth="7%">Acciones</th>
            </tr>
        </thead>
        <tbody *ngIf="rowSelectionTable.data && rowSelectionTable.data.length > 0; else emptyTable">
            <tr *ngFor="let item of rowSelectionTable.data; trackBy: trackById">
                <td>
                    <nz-tag [nzColor]="getEstadoColor(item.estado)">
                        {{ getEstadoTexto(item.estado) }}
                    </nz-tag>
                </td>
                <td>{{ item.area }}</td>
                <td>{{ item.juzgado }}</td>
                <td>{{ item.piso }}</td>
                <td>{{ item.tramite }}</td>
                <td>{{ item.solicita }}</td>
                <td>{{ item.fechaSolicitud }}</td>
                <td>{{ item.fechaTermino }}</td>
                <td>{{ item.observaciones }}</td>
                <td>
                    <ng-container *ngIf="item.imagen || item.pdf; else noData">
                        <!-- Mostrar imagen si existe -->
                        <a *ngIf="item.imagen" [href]="item.imagen" target="_blank">
                            <img [src]="item.imagen" alt="Imagen" width="100" style="cursor: pointer;">
                        </a>

                        <!-- Mostrar enlace de descarga si hay PDF -->
                        <a *ngIf="item.pdf" [href]="item.pdf" download="documento.pdf" target="_blank"
                            style="color: rgb(190, 31, 31);">
                            <i nz-icon nzType="download"></i>Descargar PDF
                        </a>
                    </ng-container>

                    <!-- Caso cuando no hay imagen ni PDF -->
                    <ng-template #noData>
                        N/A
                    </ng-template>
                </td>
                <td>
                    <ng-container>
                        <!-- Botón "Completado" -->
                        <button *ngIf="item.estado !== Estado.COMPLETADO" nz-button nzType="primary"
                            (click)="setEstado(item, Estado.COMPLETADO)">
                            Completado
                        </button>
                    
                        <!-- Botón "En Proceso" -->
                        <button *ngIf="item.estado !== Estado.INCOMPLETO" nz-button nzType="default"
                            (click)="setEstado(item, Estado.INCOMPLETO)">
                            En Proceso
                        </button>
                    
                        <!-- Botón "Editar" (solo visible cuando el estado es INCOMPLETO) -->
                        <button *ngIf="item.estado === Estado.INCOMPLETO" nz-button nzType="dashed"
                            (click)="editarIncompleto(item)">
                            Editar
                        </button>
                    </ng-container>
                </td>
            </tr>
        </tbody>

        <!-- Template para cuando no hay datos -->
        <ng-template #emptyTable>
            <tbody>
                <tr>
                    <td colspan="11" style="text-align: center;">No hay datos disponibles</td>
                </tr>
            </tbody>
        </ng-template>
    </nz-table>
</div>

<!-- Modal -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="Detalles de Finalización" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
        <p>Observaciones:</p>
        <input nz-input [(ngModel)]="selectedItem.obsCompletado" (input)="validarFormulario()" name="observaciones"
            placeholder="Ingrese observaciones" />

        <p>Fotografía:</p>
        <nz-upload nzListType="picture" nzAccept="image/*" [nzShowUploadList]="true" [(nzFileList)]="imageFileList"
            (nzChange)="onFileSelected($event)">
            <div class="upload-button"><i nz-icon nzType="upload"></i> Subir Imagen</div>
        </nz-upload>
    </ng-container>

    <ng-template #modalFooter>
        <button nz-button nzDanger="true" (click)="handleCancel()"><nz-icon nzType="close"></nz-icon> Cancelar</button>
        <button nz-button nzType="dashed" nzBorderless="true" (click)="guardarEstado()" [nzLoading]="isConfirmLoading"><nz-icon nzType="save"></nz-icon>Guardar</button>
    </ng-template>
</nz-modal>


