<nz-breadcrumb>
    <nz-breadcrumb-item>
        <a routerLink="/welcome">
            <nz-icon nzType="home" />
        </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a routerLink="/itinerario">
            <nz-icon nzType="bars" />
            <span>Actvidades Pendientes</span>
        </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Registro de Actividades</nz-breadcrumb-item>
</nz-breadcrumb>
<hr class="divider">
<form nz-form [formGroup]="itinerarioForm" (ngSubmit)="submitForm()" class="itinerario-form">
    <!-- Selector de Área -->
    <nz-row [nzGutter]="16">
        <nz-col nzSpan="8">
            <nz-form-item>
                <nz-form-label nzFor="area" nzRequired>Solicita</nz-form-label>
                <nz-form-control>
                    <nz-select formControlName="area" (ngModelChange)="onAreaChange($event)">
                        <nz-option *ngFor="let area of areas" [nzValue]="area" [nzLabel]="area"></nz-option>
                    </nz-select>
                    <input *ngIf="showManualAreaInput" nz-input formControlName="manualArea" placeholder="Ingrese el área manualmente" />
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col nzSpan="16">
                <nz-form-item>
                    <nz-form-label nzFor="tramite" nzRequired>Trámite</nz-form-label>
                    <nz-form-control>
                        <textarea nz-input formControlName="tramite" placeholder="Ingrese el trámite, número de proceso o actividad puntual a realizar" required ></textarea>
                    </nz-form-control>
                </nz-form-item>
        </nz-col>
    </nz-row>
    <nz-row [nzGutter]="16">
        <nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzFor="observaciones">Observaciones</nz-form-label>
                <nz-form-control>
                    <textarea nz-input formControlName="observaciones" placeholder="Ingrese observaciones o detalles generales de la actividad"></textarea>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
    </nz-row>
    <div *ngIf="selectedArea">
        <nz-row [nzGutter]="16">
            <nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzFor="juzgado">Selecciona una Unidad, Juzgado o Entidad</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="juzgado" (ngModelChange)="onJuzgadoChange($event)">
                            <nz-option *ngFor="let juzgado of unidad" [nzValue]="juzgado" [nzLabel]="juzgado"></nz-option>
                        </nz-select>
                        <input *ngIf="showManualUnidadInput" nz-input formControlName="manualJuzgado" placeholder="Ingrese la unidad manualmente" />
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzFor="piso">Selecciona el piso</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="piso" (ngModelChange)="onPisoChange($event)">
                            <nz-option *ngFor="let pisoItem of piso" [nzValue]="pisoItem" [nzLabel]="pisoItem"></nz-option>
                        </nz-select>
                        <input *ngIf="showManualPisoInput" nz-input formControlName="manualPiso" placeholder="Ingrese el piso manualmente" />
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            
        </nz-row>

        <nz-row [nzGutter]="16" *ngIf="jueces.length > 0">
            <nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzFor="juez">Puedes asignar un Juez</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="juez">
                            <nz-option *ngFor="let juezItem of jueces" [nzValue]="juezItem" [nzLabel]="juezItem"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
        </nz-row>

        <nz-row [nzGutter]="16">
            <nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzFor="materia">Selecciona el área</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="materia" (ngModelChange)="onMateriaChange($event)">
                            <nz-option *ngFor="let materia of materia" [nzValue]="materia" [nzLabel]="materia"></nz-option>
                        </nz-select>
                        <input *ngIf="showManualMateriaInput" nz-input formControlName="manualMateria" placeholder="Ingrese la materia manualmente" />
                    </nz-form-control>
                </nz-form-item>
            </nz-col>

            <nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzFor="diligencia">Seleciona la diligencia</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="diligencia" (ngModelChange)="onDiligenciaChange($event)">
                            <nz-option *ngFor="let diligencia of diligencia" [nzValue]="diligencia" [nzLabel]="diligencia"></nz-option>
                        </nz-select>
                        <input *ngIf="showManualDiligenciaInput" nz-input formControlName="manualDiligencia" placeholder="Ingrese la diligencia manualmente" />
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
        </nz-row>

        <nz-row [nzGutter]="16">
            <nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzFor="solicita">Recibe</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="solicita" placeholder="Especificar quién recibe el trámite" />
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label nzFor="fechaTermino" nzRequired>Fecha de Término</nz-form-label>
                    <nz-form-control nzErrorTip="Debe ser posterior a hoy">
                        <input nz-input formControlName="fechaTermino" type="date" required />
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
        </nz-row>

        <nz-row [nzGutter]="16">
            <nz-col nzSpan="12">
                <nz-form-item>
                    <nz-upload nzListType="picture" nzAccept="image/*" [nzShowUploadList]="true" [(nzFileList)]="imageFileList" (nzChange)="onImageSelected($event)">
                        <div class="upload-button"><i nz-icon nzType="upload"></i> Subir Imagen</div>
                    </nz-upload>
                </nz-form-item>
            </nz-col>
            <nz-col nzSpan="12">
                <nz-form-item>
                    <nz-upload nzListType="text" nzAccept="application/pdf" [nzShowUploadList]="true" [(nzFileList)]="pdfFileList" (nzChange)="onPDFSelected($event)">
                        <div class="upload-button"><i nz-icon nzType="upload"></i> Subir PDF</div>
                    </nz-upload>
                </nz-form-item>
            </nz-col>
        </nz-row>

        <nz-row>
            <nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-control>
                        <button class="save-button" nz-button nzBlock [disabled]="isLoading" [nzLoading]="isLoading">
                            <nz-icon [nzType]="'save'"></nz-icon> Guardar
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </nz-col>
        </nz-row>
    </div>
</form>

<div class="header-grid">
    <div class="header-item">
        <a routerLink="/itinerario" class="link">Pendientes</a>
    </div>
    <div class="header-item">
        <a routerLink="/history-itinerario" class="link">Historial de Itinerario</a>
    </div>
</div>